$bacground: #f5f3f3;
$main-color: #000;
$purple-color: #9d4a7a;
$purple-color-opacity: #9d4a7a2b;
$blue-color: #3b556c;
$white-color: #fff;
$blue-gradient: linear-gradient(
	235deg,
	#3b556c 84.37%,
	rgba(59, 85, 108, 0) 100%
);
