@media (min-width: 992px) {
	.section-heading {
		padding-top: 2em;
		font-size: 8rem;
	}
	.header {
		&__img {
			width: auto;
		}
		&__slider {
			&-p {
				font-size: 12rem;
				padding-left: 0.7em;
				letter-spacing: -6px;
			}
			&-b {
				font-size: 8rem;
				padding-left: 0.5em;
				padding-right: 0.5em;
				letter-spacing: -4px;
			}
		}
		&__desc {
			top: 40%;
			right: 50%;
			transform: translateX(200%);

			justify-self: center;
		}
	}
	.about {
		&__main {
			&-img {
				width: 40%;
			}
			&-desc {
				width: 60%;
			}
			&-desc p {
				line-height: 5rem;
				font-size: 3rem;
			}
		}
	}
	.gallery {
		display: flex;
		&__main {
			img {
				width: 320px;
			}
		}
	}
	.work {
		&__main {
			p {
				width: 60%;
			}
		}
		&__desc {
			&-txt {
				height: 450px;
				font-size: 2rem;
				padding: 2em 0em;
			}
		}
	}
	.offer {
		&__logo {
			font-size: 14rem;
			opacity: 0.1;
			transform: rotate(0deg);
		}
		&__logo-kids {
			top: 50%;
			transform: translateY(-50%);
			left: 0%;
		}
		&__logo-adult {
			top: 50%;
			transform: translateY(-50%);
			right: 160px;
		}
		&__list-kids {
			width: 70%;
			ul {
				padding-left: 20em;
			}
		}
		&__list-adult {
			ul {
				padding-right: 40em;
			}
		}
	}
	.offer-extend {
		&__img {
			height: 1000px;
			.mental {
				position: absolute;
				font-size: 12rem;
				&-one {
					top: 200px;
					left: 70px;
				}
				&-two {
					top: 400px;
					left: 140px;
				}
				&-three {
					top: 600px;
					left: 210px;
				}
			}
		}
	}
	.about-expand {
		&__main {
			font-size: 2.2rem;
		}
		&__links {
			&-item {
				font-size: 2.2rem;
				a {
					padding: 0.5em;
				}
			}
		}
	}
}
