@media (min-width: 768px) {
	.section-heading {
		padding-top: 2em;
		font-size: 6rem;
	}
	.nav {
		&__logo {
			img {
				width: 124px;
			}
		}
		&__desc {
			font-size: 2rem;
		}
		&__burger {
			width: 100px;
			height: 100px;
		}
	}
	.header {
		&__img {
			width: 60%;
		}
		&__slider {
			&-p {
				font-size: 8rem;
			}
			&-b {
				font-size: 5.6rem;
				padding-right: 0.6em;
			}
		}
		&__desc {
			top: 50%;
			right: 30px;
			color: $main-color;
			p {
				padding-left: 3em;
				line-height: 2em;
			}
		}
	}
	.about {
		&__main {
			gap: 0em;
			flex-wrap: nowrap;
			padding: 8em 0em;
			width: 100%;
			&-img {
				width: 30%;
			}
			&-desc {
				width: 70%;
			}
			&-desc p {
				line-height: 2em;
				font-size: 3rem;
			}
		}
		&__small-desc {
			width: 60%;
			font-size: 2rem;
		}
	}
	.gallery {
		display: flex;
		&__main {
			img {
				width: 230px;
			}
		}
	}
	.work {
		&__main {
			padding-top: 8em;
			p {
				width: 70%;
				font-size: 3rem;
			}
		}
		&__desc {
			flex-wrap: nowrap;
			&-img {
				width: 50%;
				img {
					width: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
			&-txt {
				width: 50%;
			}
		}
	}
	.offer {
		&-img {
			height: 711px;
		}
		&__logo {
			display: block;
			position: absolute;
			font-size: 10rem;
			opacity: 0.1;
			transform: rotate(90deg);
		}
		&__adult {
			justify-content: center;
		}
		&__logo-kids {
			top: 50%;
			left: 0%;
		}
		&__logo-adult {
			top: 40%;
			right: 0;
		}
		&__list-kids {
			width: 60%;
			ul {
				padding-left: 8em;
			}
		}
		&__list-adult {
			ul {
				padding-right: 8em;
			}
		}
	}
}
