@media (min-width: 768px) {
	.section-heading {
		padding-top: 2em;
		font-size: 6rem;
	}
	.nav {
		&__logo {
			img {
				width: 124px;
			}
		}
		&__desc {
			font-size: 2rem;
		}
		&__burger {
			width: 100px;
			height: 100px;
		}
	}
	.menu {
		width: 50%;
		font-size: 3rem;
	}
	.header {
		&__img {
			width: 60%;
		}
		&__slider {
			&-p {
				font-size: 8rem;
			}
			&-b {
				font-size: 5.6rem;
				padding-right: 0.6em;
			}
		}
		&__desc {
			top: 50%;
			right: 30px;
			color: $main-color;
			p {
				padding-left: 3em;
				line-height: 2em;
			}
		}
	}
	.about {
		&__main {
			gap: 0em;
			flex-wrap: nowrap;
			padding: 8em 0em;
			width: 100%;
			&-img {
				width: 30%;
			}
			&-desc {
				width: 70%;
			}
			&-desc p {
				line-height: 2em;
				font-size: 3rem;
			}
		}
		&__small-desc {
			width: 60%;
			font-size: 2rem;
		}
	}
	.gallery {
		display: flex;
		&__main {
			img {
				width: 230px;
			}
		}
	}
	.work {
		&__main {
			padding-top: 8em;
			p {
				width: 70%;
				font-size: 3rem;
			}
		}
		&__desc {
			flex-wrap: nowrap;
			&-img {
				width: 50%;
				img {
					width: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
			&-txt {
				width: 50%;
			}
		}
	}
	.offer {
		&-img {
			height: 711px;
			background-image: url('/dist/img/09B4150.png');
		}
		&__logo {
			display: block;
			position: absolute;
			font-size: 10rem;
			opacity: 0.1;
			transform: rotate(90deg);
		}
		&__adult {
			justify-content: center;
		}
		&__logo-kids {
			top: 60%;
			left: 10%;
		}
		&__logo-adult {
			top: 60%;
			right: -10%;
		}
		&__list-kids {
			width: 60%;
			ul {
				padding-left: 8em;
			}
		}
		&__list-adult {
			ul {
				padding-right: 8em;
			}
		}
	}
	.contact {
		&__main {
			flex-direction: row;
			justify-content: space-between;
			gap: 2em;
			form {
				width: 45%;
				padding-top: 0em;
			}
			&-map {
				width: 50%;
			}
		}
		&__rodo {
			width: 90%;
		}
	}
	.offer-extend {
		&__img {
			height: 800px;
			.mental {
				font-size: 8rem;
				&-one {
					top: 280px;
					left: 20px;
				}
				&-two {
					top: 380px;
					left: 60px;
				}
				&-three {
					top: 480px;
					left: 100px;
				}
			}
		}
		&__main {
			&-header {
				font-size: 6rem;
			}
			&-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
				&--header {
					align-self: flex-start;
					font-size: 3rem;
					padding-bottom: 2em;
				}
				&--txt {
					width: 70%;
					padding-bottom: 5em;
					line-height: 3rem;
					letter-spacing: 1.4px;
				}
			}
		}
		&__footer {
			&-contact {
				font-size: 2rem;
			}
		}
	}
}
