@use './colors' as *;
@use './animations' as *;

@mixin btnMix {
	border: 1px solid transparent;
	border-radius: 50%;
	background-color: $purple-color;
	color: white;
	box-shadow: 0px 0px 4px darkgray;
	cursor: pointer;
	&:hover {
		opacity: 0.9;
	}
	transition: opacity 0.3s;
}
