@use './colors' as *;
@use './mixin' as *;
@use './animations' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-family: 'Lato', sans-serif;
	margin: 0 auto;
	font-size: 1.6rem;
	background-color: $bacground;
	scroll-padding-top: 50px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 1200px;
	padding: 0em 1em;
}

html.lenis {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

a {
	text-decoration: none;
}
section {
	padding-top: 5em;
}
.section-heading {
	padding-top: 1em;
	width: 100%;
	font-size: 4rem;
	font-weight: 400;
	text-align: center;
	// opacity: 0.4;
}

.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 1em 0.5em;
	z-index: 100;
	&__logo {
		display: flex;
		align-items: center;
		img {
			width: 60px;
		}
	}
	&__desc {
		font-size: 1.6rem;
		padding-left: 1em;
	}
	&__burger {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		border: 1px solid transparent;
		transition: background-color 0.4s;
		cursor: pointer;
		&:hover {
			background-color: $purple-color-opacity;
		}
		&-inside {
			position: relative;
			width: 60%;
			height: 60%;
			&::before {
				position: absolute;
				content: '';
				top: 30%;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: $main-color;
				transition: 0.3s, background-color 0.3s;
			}
			&::after {
				position: absolute;
				content: '';
				bottom: 30%;
				left: 0;
				width: 70%;
				height: 1px;
				background-color: $main-color;
				transition: width 0.3s, background-color 0.3s;
			}
			&:hover::after {
				width: 100%;
			}
			&:hover::before {
				width: 70%;
			}
		}
		&-inside.active {
			&::before {
				top: 50%;
				width: 100%;
				animation: burgerAnim 1s 0s both;
				background-color: $white-color;
			}
			&::after {
				top: 50%;
				width: 100%;
				animation: burgerAnimBack 1s 0s both;
				background-color: $white-color;
			}
		}
	}
}
.hideLogo {
	animation: hideLogo 1s 0s both;
}
.showLogo {
	animation: showLogo 1s 0s both;
}

.menu {
	position: fixed;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2em;
	font-size: 2rem;
	font-weight: 300;
	list-style: none;
	width: 100%;
	height: 100vh;
	background-color: $blue-color;
	border-radius: 100px;
	transform: translateX(100%);
	z-index: 70;
	&__item {
		border: 1px solid transparent;
		transition: transform 0.3s;
		&:hover {
			transform: scale(1.2);
		}
		a {
			color: $white-color;
		}
	}
}
.activeMenu {
	animation: showMenu 0.4s 0s linear both;
}
.hideMenu {
	animation: hideMenu 0.5s 0s linear both;
}

.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	&__img {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 60%;
		img {
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	&__slider {
		position: absolute;
		bottom: 10%;
		display: flex;
		justify-content: center;
		width: 100%;
		max-width: 1200px;
		overflow: hidden;
		p {
			width: 5000px;
			display: flex;
			align-items: baseline;
			text-align: center;
		}
		&-p {
			color: $purple-color;
			font-size: 3.8rem;
			padding-left: 0.6em;
		}
		&-b {
			color: $blue-color;
			font-size: 2.6rem;
			padding-left: 0.6em;
			padding-right: 1em;
		}
	}
	&__desc {
		position: absolute;
		top: 25%;
		color: $main-color;
		p {
			padding-left: 3em;
			line-height: 2em;
		}
		&-img {
			animation: headerArrow 2s both;
		}
	}
}

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: $white-color;
	&__main {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2em;
		flex-wrap: wrap;
		padding: 5em 0em;
		overflow: hidden;
		&-img {
			width: 100%;
			img {
				width: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
		&-desc p {
			line-height: 2em;
		}
	}
	&__small-desc {
		width: 80%;
		line-height: 2em;
		padding-bottom: 8em;
	}
	&__button {
		width: 100%;
		text-align: right;
		padding-bottom: 8em;
	}
}

.btn {
	width: 100px;
	height: 100px;
	@include btnMix;
	z-index: 3;
}

.gallery {
	display: none;
	align-items: center;
	justify-content: center;
	height: 880px;
	width: 100%;
	background-color: $bacground;
	&__wrapper {
		display: flex;
		justify-content: space-evenly;
		height: 100%;
		width: 100%;
		max-width: 1200px;
		overflow: hidden;
	}
	&__main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 4em;
		img {
			width: 320px;
			border-radius: 12px;
			box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		}
	}
}

.work {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: $white-color;
	padding-bottom: 8em;
	&__main {
		padding: 8em 0em;
		p {
			line-height: 2em;
		}
	}
	&__desc {
		display: flex;
		flex-wrap: wrap;
		padding-top: 8em;
		&-img {
			width: 100%;
			img {
				width: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
		&-txt {
			display: flex;
			flex-direction: column;
			height: 350px;
			justify-content: space-between;
			line-height: 1.4em;
			font-size: 1.4rem;
			padding: 2em 0.5em;
		}
	}
}
.offer {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 0;
	&-img {
		width: 100%;
		height: 400px;
		background-image: url('/dist/img/09B4150_small.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&__kids,
	&__adult {
		position: relative;
		display: flex;
		justify-content: center;
		width: 100%;
		padding-top: 8em;
	}
	&__adult {
		padding-bottom: 8em;
		justify-content: left;
		ul {
			width: 100%;
		}
	}
	&__list {
		h3 {
			font-size: 2rem;
			padding-bottom: 3em;
		}
		ul {
			padding-left: 1em;
			li {
				line-height: 188%;
			}
		}
	}
	&__logo {
		display: none;
	}
	&-btn {
		margin-bottom: 8em;
	}
	&__tags {
		color: $bacground;
	}
}

.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $white-color;
	padding-bottom: 8em;
	&__main {
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
		padding: 8em 0em;
		form {
			position: relative;
			display: block;
			width: 100%;
			padding-top: 4em;
			input,
			textarea {
				position: relative;
				width: 80%;
				padding: 1em;
				border: none;
				border-bottom: 1px solid $main-color;
				outline: none;
				&::placeholder {
					position: absolute;
					bottom: 0;
					padding-bottom: 1em;
					font-size: 1.4rem;
					font-family: 'Lato', sans-serif;
				}
			}
			input:focus,
			textarea:focus {
				border-bottom: 1px solid $purple-color;
			}
			textarea {
				resize: vertical;
				font-size: 1.4rem;
				&::placeholder {
					text-align: baseline;
				}
			}
			.mail-error,
			.input-error,
			.result-error {
				padding-bottom: 2em;
				font-size: 1.4rem;
				color: $purple-color;
				visibility: hidden;
			}
			#result {
				width: 20%;
			}
			.sendBtn {
				margin-top: 2em;
				// position: absolute;
				// bottom: 0px;
				// left: 50%;
				// transform: translateX(-50%);
				@include btnMix;
				width: 50px;
				height: 50px;
			}
			p {
				padding-top: 2em;
			}
		}
		&-map {
			width: 100%;
			iframe {
				width: 100%;
				height: 300px;
			}
		}
	}
	&__rodo {
		width: 80%;
		font-size: 1.2rem;
		line-height: 2rem;
	}
}
.contact-box.error .input-error {
	visibility: visible;
}
.contact-box.error .mail-error {
	visibility: visible;
}
.contact-box.error .result-error {
	visibility: visible;
}

.success {
	color: $blue-color;
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $bacground;
	&__data {
		display: flex;
		gap: 1em;
		align-self: flex-start;
		padding: 80px 0px;
		&-logo {
			width: 54px;
			img {
				width: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
		&-contact {
			p {
				line-height: 4rem;
			}
		}
	}
	&__links {
		text-align: center;
		font-size: 1.4rem;
		padding: 1em;
		a {
			color: $main-color;
		}
	}
	&__attribiute {
		padding: 1em;
		font-size: 1.2rem;
		color: darkgrey;
		text-align: center;
	}
	hr {
		width: 100%;
	}
}

.offer-extend {
	position: fixed;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	margin: 0;
	padding: 0;
	background-color: $bacground;
	overflow-y: scroll;
	overflow-x: hidden;
	transform: translateY(100%);
	z-index: 40;
	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	&__img {
		position: relative;
		width: 100%;
		height: 500px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
		.mental {
			position: absolute;
			font-size: 4rem;
			color: $blue-color;
			&-one {
				top: 180px;
				left: 20px;
			}
			&-two {
				top: 240px;
				left: 40px;
			}
			&-three {
				top: 300px;
				left: 60px;
			}
		}
	}
	&__main {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		background-color: $white-color;
		&-header {
			padding: 5em 0em;
			font-size: 4rem;
		}
		&-container {
			&--header {
				align-self: flex-start;
				font-size: 2rem;
				padding-bottom: 2em;
			}
			&--txt {
				width: 90%;
				padding-bottom: 4em;
				line-height: 3rem;
			}
		}
	}
	&__footer {
		position: relative;
		padding: 8em 0em;
		&-contact {
			display: flex;
			align-self: flex-start;
			flex-direction: column;
			padding: 4em 0em;
			text-align: left;
			width: 70%;
			p {
				line-height: 3rem;
			}
			.phone-no {
				a {
					color: $main-color !important;
					text-decoration: none;
				}
			}
		}
		a {
			position: absolute;
			bottom: 5px;
			color: lightgray;
			font-size: 1rem;
		}
	}
}

.about-expand {
	position: fixed;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	margin: 0;
	padding: 0;
	background-color: $white-color;
	overflow-y: scroll;
	overflow-x: hidden;
	transform: translateY(100%);
	z-index: 40;
	&__hero {
		height: 400px;
		width: 100%;
		background-image: url('/dist/img/_09B4142sm.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: $bacground;
	}
	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		.about-bgc {
			display: none;
			position: absolute;
			bottom: -10%;
			right: -50%;
			opacity: 0.05;
			width: 100%;
		}
		.about-bgc--two {
			display: none;
			top: 0;
			left: -20%;
		}
		.offer-extend__footer-btn {
			width: 100%;
			background-color: $bacground;
			display: flex;
			justify-content: center;
			padding: 10em 0em;
		}
	}
	&__main {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 10em;
		font-size: 1.4rem;
		line-height: 4rem;
		overflow: hidden;
		&-top,
		&-bottom {
			align-self: flex-start;
		}
		&-middle {
			align-self: flex-end;
		}
		&-bottom {
			padding-bottom: 3em;
		}
	}
	&__linkTitle {
		align-self: flex-start;
		font-weight: bold;
		font-size: 3rem;
		padding: 3em 0em;
	}
	&__links {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: 5em 0em;
		&-list {
			display: flex;
			flex-direction: column;
			align-items: center;
			list-style: none;
			width: 100%;
		}
		&-item--first {
			border-top: 1px solid $bacground;
		}
		&-item {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100px;
			text-align: center;
			font-size: 1.4rem;
			border-bottom: 1px solid $bacground;
			transition: background-color 0.4s;
			a {
				color: $main-color;
				transition: color 0.3s;
			}
			&:hover {
				background-color: $blue-color;
			}
			&:hover a {
				color: $white-color;
			}
		}
	}
}

.offer-active {
	animation: offerOpen 1s 0s both;
}

.offer-close {
	animation: offerClose 1s 0s both;
}

.offerHeaderAnim {
	animation: offerHederAnim 1s both;
}

@import './small';
@import './medium';
@import './large';
